{% load socialaccount %}
<div class="d-flex flex-md-row flex-column justify-content-around">
  <a href="{% provider_login_url "google" %}"
     class="btn btn-social btn-outline-google btn-block font-small-3 mr-md-1 mb-md-0 mb-1">
    <i class="bx bxl-google font-medium-3"></i><span
      class="pl-50 d-block text-center">Google</span></a>
  <a href="#" class="btn btn-social btn-block mt-0 btn-outline-twitter font-small-3 mr-md-1">
    <i class="bx bxl-twitter font-medium-3"></i><span class="d-block text-center">Twitter</span></a>
  <a href="{% provider_login_url "vk" %}" class="btn btn-social btn-block mt-0 btn-outline-vk font-small-3">
    <i class="bx bxl-vk font-medium-3"></i><span class="pl-50 d-block text-center">VK</span></a>
</div>