{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="keywords" content="comics {% block meta_keywords %}{% endblock %}">
  <meta name="author" content="NoNameItem">
  <title>{% block title %}ReadComics.Net{% endblock %}</title>
  <script src="https://kit.fontawesome.com/96ea38b6db.js" crossorigin="anonymous"></script>
  <link rel="icon" href="{% static "images/favicons/favicon.png" %}">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
        rel="stylesheet">

  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css" href="{% static "_frest/vendors/css/vendors.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "_frest/vendors/css/ui/prism.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "_frest/vendors/css/extensions/toastr.css" %}">
  {% block vendor_css %}

  {% endblock %}
  <!-- END: Vendor CSS-->

  <!-- BEGIN: Theme CSS-->
  <link rel="stylesheet" type="text/css" href="{% static "_frest/css/bootstrap.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "_frest/css/bootstrap-extended.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "_frest/css/colors.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "_frest/css/components.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "_frest/css/themes/dark-layout.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "_frest/css/themes/semi-dark-layout.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "_frest/css/core/menu/menu-types/vertical-menu.css" %}">
  <!-- END: Theme CSS-->

  <!-- BEGIN: Page Vendor CSS-->
  <link rel="stylesheet" type="text/css" href="{% static "_frest/css/plugins/extensions/toastr.min.css" %}">
  {% block page_vendor_css %}

  {% endblock %}
  <!-- END: Page Vendor CSS-->

  <!-- BEGIN: Page CSS-->
  {% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}">
  {% endblock %}
  <!-- END: Page CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns  navbar-sticky footer-static" data-open="click"
      data-menu="vertical-menu-modern" data-col="2-columns">

{% include "blocks/layout/header/header.html" %}


<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url "home" %}">
        <div class="brand-logo"></div>
        <h2 class="brand-text mb-0">ReadComics.Net</h2>
      </a></li>
      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
          class="bx bx-x d-block d-xl-none font-medium-4 success toggle-icon"></i><i
          class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block success" data-ticon="bx-disc"></i></a></li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation"
        data-icon-style="lines">

    </ul>
  </div>
</div>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
          <div class="col-12 col-md-auto pr-0">
            <h5 class="content-header-title float-left pr-1 mr-0 success">{% block page_header %}Header{% endblock %}</h5>

          </div>
          <div class="breadcrumb-wrapper col-12 col-md-auto">
              <ol class="breadcrumb p-0 mb-0">
                <li class="breadcrumb-item {% if not breadcrumb %}active{% endif %}">
                  {% if breadcrumb %}
                    <a href="{% url "home" %}"><i class="fad fa-home font-medium-2" aria-hidden="true"></i></a>
                  {% else %}
                    <i class="fad fa-home font-medium-2" aria-hidden="true"></i>
                  {% endif %}
                  {% for item in breadcrumb %}
                    <li class="breadcrumb-item {% if forloop.last %}active{% endif %}">
                      {% if forloop.last %}
                        {{ item.text }}
                      {% else %}
                        <a href="{{ item.url }}">{{ item.text }}</a>
                      {% endif %}
                    </li>
                  {% endfor %}
              </ol>
            </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      {% block page_content %}{% endblock %}
    </div>
  </div>
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- MODALS -->

{% block modals %}
{% endblock %}

<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light">
  <p class="clearfix mb-0">
    <span class="float-left d-inline-block">2020 &copy; ReadComics.Net</span>
    {#    <span class="float-right d-sm-inline-block d-none">#}
    {#      Crafted with<i class="bx bxs-heart pink mx-50 font-small-3"></i>by<a class="text-uppercase" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a>#}
    {#    </span>#}
    <button class="btn btn-success btn-icon scroll-top" type="button"><i class="bx bx-up-arrow-alt"></i></button>
  </p>
</footer>
<!-- END: Footer-->


<!-- BEGIN: Vendor JS-->
<script src="{% static "_frest/vendors/js/vendors.min.js" %}"></script>
<script src="{% static "_frest/fonts/LivIconsEvo/js/LivIconsEvo.tools.js" %}"></script>
<script src="{% static "_frest/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js" %}"></script>
<script src="{% static "_frest/fonts/LivIconsEvo/js/LivIconsEvo.min.js" %}"></script>
<script src="{% static "_frest/vendors/js/forms/select/select2.full.min.js" %}"></script>
<script src="{% static "_frest/vendors/js/extensions/toastr.min.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static "_frest/vendors/js/ui/prism.min.js" %}"></script>
{% block vendor_js %}{% endblock %}
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script !src="">
  const frest_root = "/static/_frest"
</script>
<script src="{% static "_frest/js/scripts/configs/vertical-menu-light.js" %}"></script>
<script src="{% static "_frest/js/core/app-menu.js" %}"></script>
<script src="{% static "_frest/js/core/app.js" %}"></script>
<script src="{% static "_frest/js/scripts/footer.min.js" %}"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="{% static "js/common.js" %}"></script>
<script>
  let notifications = [
    {% for notification in dmm.notifications.all %}
      {
        title   : "{{ notification.subject|default_if_none:"" }}",
        message : "{{ notification.text }}",
        level   : "{{ notification.level_tag|default_if_none:"secondary" }}"
      },

    {% endfor %}

    {% if dmm.messages.new_count > 0 %}
      {
        title   : "",
        message : "You have {{ dmm.messages.new_count }} new notification{{ dmm.messages.new_count|pluralize }}",
        level   : "info"
      },
    {% endif %}

  ];
  $(document).ready(function () {
    for (let i = 0; i < notifications.length; i++) {
      toastr[notifications[i].level](notifications[i].message, notifications[i].title);
    }
  });

  {#let mark_all_read_url = "{% url "mark-all-message-read" %}";#}
</script>

{% block page_js %}{% endblock %}
<!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>