.main-menu .navbar-header .navbar-brand .brand-logo {
  background-image: url(../images/logo.png);
  background-position: 0;
  height: 24px;
  width: 24px;
}

/*body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu,*/
/*body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded,*/
/*.main-menu .navbar-header {*/
/*  width: 310px;*/
/*}*/

/*html body .content,*/
/*body.vertical-layout.vertical-menu-modern.menu-expanded .footer {*/
/*  margin-left: 310px;*/
/*}*/

/*.header-navbar.fixed-top {*/
/*  left: 310px;*/
/*}*/


.main-menu .navbar-header .navbar-brand .brand-text {
  color: #39da8a;
}

.breadcrumb-item.active {
  color: #39da8a;
}

.main-menu.menu-light .navigation > li.active:not(.sidebar-group-active) > a {
  background: rgba(57, 218, 138, 0.2);
  color: rgb(57, 218, 138);
}

.main-menu.menu-light .navigation > li ul .active {
  background-color: #39da8a33;
}

.main-menu.menu-light .navigation > li ul .active > a {
color: rgb(57, 218, 138);
}

.header-navbar .navbar-container ul.nav li a.nav-link-login {
  padding: 1.5rem 0.75rem 1.15rem 0.75rem;
}

.toast-top-right {
  top: 65px
}

.fad {
  font-size: 1.2rem;
}

.btn i.fad {
  top: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #39DA8A;
}

.nav.nav-pills .nav-item .nav-link.active {
  box-shadow: 0 2px 4px 0 #39da8a33;
}

.div-link {
  /* only required rule to make this work */
  position: relative;
}

.div-link:hover {
  background-color: #39da8a33;
}

/*.card-link:hover .card-footer{*/
/*border: 1px solid #00B5B8!important;*/
/*}*/

.div-default-link {
  /* all rules required to make the whole div clickable */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* this is a fix for IE7-9 */
  background-color: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}